<div>
<div id="J-con" class="control">
				<label for="">IP Object</label>
				<input type="text" name="hll" data-dojo-attach-point="ipObject" class="w250" data-dojo-type="ah/unit/IPObject" />
			</div>
			<button id="show">show</button>
			<input id="J-hello" data-dojo-attach-point="testBox" name="nn" value="hello" class="w250 ui-input" data-dojo-type="dijit/form/TextBox" type="text" />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
</div>
